<div class="sidebar">

    <div class="home" (click)="hrefHome()">
      <div class="circle neumorphic-low"></div>
      <span>Home</span>
    </div>

    <div class="menu-item" (click)="hrefStudets()">
      <div class="icon"></div>
      <span>Students</span>
    </div>

    <div class="menu-item" (click)="hrefTeachers()">
      <div class="icon"></div>
      <span>Teachers</span>
    </div>

    <div class="menu-item" (click)="hrefCours()">
      <div class="icon"></div>
      <span>Courses</span>
    </div>

  </div>