<div class="sidebar">

    <div class="home" (click)="hrefHome(); selectOption('Home');" [class.activeHome]=" selectedOption === 'Home'" >
      <button type="button" class="btn btn-rounded neumorphic-low p-2">
        <span class="material-symbols-outlined m-auto">
          home
        </span>
      </button>
      <span>Home</span>
    </div>

    <div class="menu-item" (click)="hrefStudets(); selectOption('Students');" [class.active]=" selectedOption === 'Students'">
      <div class="icon">
        <span class="material-symbols-outlined">
          school
        </span>
      </div>
      <span>Students</span>
    </div>

    <div class="menu-item" (click)="hrefTeachers(); selectOption('Teachers');" [class.active]=" selectedOption === 'Teachers' ">
      <div class="icon">
        <span class="material-symbols-outlined">
          groups
        </span>
      </div>
      <span>Teachers</span>
    </div>

    <div class="menu-item" (click)="hrefCours(); selectOption('Courses');" [class.active]=" selectedOption === 'Courses' ">
      <div class="icon">
        <span class="material-symbols-outlined">
          book_2
        </span>
      </div>
      <span>Courses</span>
    </div>

  </div>