<div class="table-container neumorphic">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>STATUS</th>
            <th>PRICE</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Apple MacBook Pro 17"</strong></td>
            <td>Silver</td>
            <td>Laptop</td>
            <td>$2999</td>
            <td><a href="#" class="edit-link">Edit</a></td>
          </tr>
          <tr>
            <td><strong>Microsoft Surface Pro</strong></td>
            <td>White</td>
            <td>Laptop PC</td>
            <td>$1999</td>
            <td><a href="#" class="edit-link">Edit</a></td>
          </tr>
          <tr>
            <td><strong>Magic Mouse 2</strong></td>
            <td>Black</td>
            <td>Accessories</td>
            <td>$99</td>
            <td><a href="#" class="edit-link">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>