.esfera-blur{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40vw;
    aspect-ratio: 1 / 1;
    background-color: #2A7B9B;
    border-radius: 50%;
    box-shadow: 
        #2A7B9B 0 0 40px,
        #2A7B9B 0 0 80px,
        #2A7B9B 0 0 120px,
        #2A7B9B 0 0 160px;
    filter: blur(100px);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
  border-bottom:solid .5px rgba(255, 255, 255, 0.233);
}

.center-buttons {
  display: flex;
  gap: 2rem;
}

button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: white
}

.left-btn,
.right-btn {
  font-weight: bold;
}


.box-product{
    width: 100%;
    display: grid;
    place-items: center;
}


.box-product > .nombre{
    color: black;
    font-size: 200px;
    letter-spacing: -30px;
    position: absolute;
    font-weight: bolder;
    top: 22%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-product > img{
    height: 500px;
    transform:
    translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
}

.box-product > .nombre-producto{
    color: black;
    font-size: 15px;
    position: absolute;
    letter-spacing: -1px;
    font-weight: bolder;
    top: 50%;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-product > .precio{
    color: #fff;
    font-size: 23px;
    letter-spacing: normal;
    z-index: 1;
    font-weight: bolder;
    position: absolute;
    bottom: 6%;
}

.box-product > .slogan{
    color: #fff;
    font-size: 33px;
    letter-spacing: normal;
    z-index: 1;
    position: absolute;
    top: 67%;
    right: 15%;
}


.burbuja {
      position: absolute;
      border-radius: 50%;
      filter: blur(2px);
    }

    .burbuja1 {
      width: 150px;
      height: 150px;
      top: 50%;
      left: 35%;
      background: radial-gradient(circle at 30% 30%, #0a7cda, #640ada);
    }

    .burbuja2 {
      width: 100px;
      height: 100px;
      top: 20%;
      right: 40%;
      background: radial-gradient(circle at 60% 60%, #00f0ff, #0080ff);
    }

    .burbuja3 {
      width: 80px;
      height: 80px;
      bottom: 100px;
      left: 40%;
      top: 40%;
      background: radial-gradient(circle at 40% 60%, #0a7cda, #0a43be);
    }

    .burbuja4 {
      width: 200px;
      height: 200px;
      bottom: 10%;
      right: 35%;
      background: radial-gradient(circle at 60% 40%, #0a7cda, #0a43be);
      border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
    }

.bg-low{
  background-color: rgba(0, 0, 0, 0.253);
}

.contenedor-productos{
  margin: auto;
  width: 70%;
  color: #fff;
}

.contenedor-productos-header{
  background-color: rgba(0, 11, 19, 0.616);
  padding: 10px;
}

.contenedor-productos-section{
  border: solid 1px rgba(255, 255, 255, 0.315);
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.212);
}