:root {
    /* color-scheme: light dark; */
    --color-text-gray: #707070;
    --color1-blue: #557CFF;
    --color2-blue: #3498db;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E5E5E5;
}

.neumorphic {
    background-color: #E5E5E5;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    box-shadow:
        -8px -8px 10px rgba(255, 255, 255, .6),
        5px 5px 10px rgba(0, 0, 0, 0.45);
}

.neumorphic-low {
    background-color: #E5E5E5;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    box-shadow:
        -5px -5px 8px rgba(255, 255, 255, .6),
        5px 5px 8px rgba(0, 0, 0, 0.45);
}

.neumorphic-low:hover{
    box-shadow:
        -5px -5px 8px rgba(255, 255, 255, .6),
        5px 5px 8px rgba(0, 0, 0, 0.35);
}

.neumorphic-low:active {
    border-left: 2px solid #aaa2a2;
    border-top: 2px solid #a09898;
}

.neumorphic-reverse{
    border-radius: 50px;
    border: solid 2px transparent;
    align-items: center;
    box-shadow:
            inset -5px -5px 8px rgba(255, 255, 255, 0.6),
            inset 5px 5px 8px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease-in-out linear;
}
.neumorphic-reverse:hover{
    border: solid #397aaf8e 2px;
}
.neumorphic-reverse:focus{
    border: solid #397aafd7 2px;
    outline: none;
}

.glass-box {
      width: 10px;
      height: 100px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-rounded{
    border-radius: 50px;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    aspect-ratio: 1 / 1;
}

.no-hover:hover {
  background-color: transparent !important;
  cursor: default !important;
}
