<div class="esfera-blur"></div>

<nav class="navbar">
  <button class="left-btn">Logo</button>

  <div class="center-buttons">
    <button (click)="hrefProducto()">Productos</button>
    <button (click)="hrefTabla()" >Tabla</button>
  </div>

  <button class="right-btn" (click)="logout()">Cerrar sesión</button>
</nav>

<div class="box-product">
        <div class="nombre">Botellita</div>
        <div class="burbuja burbuja4"></div>

        <img src="assets/img/botella.png" alt="">
        <!-- <div class="nombre-producto">{{ datos.nombre ?? 'Nombre' }}</div>
        <div class="precio">{{ datos.edad ?? 'Precio'}}</div>
        <div class="slogan">{{ datos.email ?? 'Slogan del Producto'}}</div> -->
        <div class="nombre-producto">Botellita</div>
        <div class="precio">29.99</div>
        <div class="slogan">Toma mas agua</div>
        <div class="burbuja burbuja1"></div>
        <div class="burbuja burbuja2"></div>
        <div class="burbuja burbuja3"></div>
</div>
